@charset "utf-8";

/** 반응형 root size **/
html { font-size: 62.5%; } /** 10px **/

* { margin: 0; padding: 0;  box-sizing: border-box; }

table { border-collapse: collapse; width: 100%; }

ol,ul { list-style: none; }

a { color: #000; text-decoration: none; }

address { font-style: normal; }

fieldset,input,textarea,select,button { border: 0; outline: none; }

legend,caption { display: none; }